/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/


params.max_memory = "2.GB"
params.max_cpus = 1
params.ref_clusters = "$baseDir/tests/data/expected_clusters.txt"


/* This is required to run in WSL/Ubuntu using singularity
Without this, profile_dists was not successfully completing
due to issues with multiprocessing in the container. A similar
error is found at https://github.com/marcelm/cutadapt/issues/583
*/
singularity.runOptions = "--contain"
