/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/


params.max_memory = "2.GB"
params.max_cpus = 1
params.ref_clusters = "$baseDir/tests/data/clusters/expected_clusters.txt"


/* This is required to run in WSL/Ubuntu using singularity
Without this, profile_dists was not successfully completing
due to issues with multiprocessing in the container. A similar
error is found at https://github.com/marcelm/cutadapt/issues/583
*/
singularity.runOptions = "--contain"

/* Remove gzipping on JSON output for testing/asserts on file contents
*/
iridanext.output.path = "${params.outdir}/iridanext.output.json"

params.modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
params.pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/test'
params.outdir = "results"
params.skip_reduce_loci = true
