iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            idkey = "irida_id"
            global = [
                "**/locidex/concat/query/concat_query/MLST_error_report_concat_query.csv",
                "**/locidex/concat/reference/concat_ref/MLST_error_report_concat_ref.csv"
            ]
        }
        metadata {
            samples {
                keep = [
                    "address"
                ]
                csv {
                    path = "**/filter/new_addresses.tsv"
                    sep = "\t"
                    idcol = 'irida_id'
                }
            }
        }
    }
}
