iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            samples = ["**/input/*_error_report.csv"]
        }
        metadata {
            samples {
                csv {
                    path = "**/filter/new_addresses.csv"
                    idcol = "id"
                }
            }
        }
    }
}
