iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            samples = ["${params.outdir}/input/*_error_report.csv"]
        }
        metadata {
            idkey = "id_irida"
            samples {
                csv {
                    path = "${params.outdir}/filter/new_addresses.csv"
                    idcol = "id"
                }
            }
        }
    }
}
